{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="background-yellow">
    <div class="yellow-bg">
        <div class="bg-left"></div>
        <div class="bg-right"></div>
        <div class="bg-right-down"></div>
        <div class="container">
            <div class="pt-5">
                <button class="btn btn-outline-secondary btn-sm"> &nbsp&nbsp&nbsp Donate &nbsp&nbsp&nbsp</button>
            </div>
            <div class="d-flex justify-content-center">
                <img class="logo" src="{% static 'img/logo-with-text.png' %}" alt="logo">
            </div>
            <div class="d-flex justify-content-center mt-4">  </div>
            <div class="d-flex justify-content-center">
                <h2 class="text-uppercase text-center tagline">come together <br> for an aware and united community </h2>
            </div>
            <p class="d-flex justify-content-center pt-4 font-weight-light"><small>Select your language to visit the website</small></p>
            <div class="d-flex justify-content-center">
                <a href="{% url 'coming_soon' %}" class="nazanin btn btn-outline-secondary btn-sm">&nbsp&nbsp&nbsp&nbspفارسی &nbsp&nbsp&nbsp&nbsp</a>
                <a href="{% url 'english_landing_page' %}" class="btn btn-outline-secondary btn-sm mx-3">&nbsp&nbsp&nbsp&nbsp English &nbsp&nbsp&nbsp&nbsp</a>
                <a href="{% url 'coming_soon' %}" class="nazanin btn btn-outline-secondary btn-sm">&nbsp&nbsp&nbsp&nbsp پشتو &nbsp&nbsp&nbsp&nbsp</a>
            </div>
            <p class="fixed-bottom mx-3 text-secondary"><small>All rights reserved for Awareness Brokers Foundation | 2021 | Made with 
                <span class="iconify" data-icon="carbon:favorite-filled" data-inline="false" style="color: #FF0000;"></span> by <a href="https://www.facebook.com/zaman.ehsani" title="connect with him">Zaman</a> </small> </p>
        </div>
    </div>
</div>

{% endblock content %}