{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="background-yellow">
    <div class="yellow-bg">
        <div class="bg-left"></div>
        <div class="bg-right"></div>
        <div class="bg-right-down"></div>
        <div class="container">
            <div class="pt-5">
                <button class="btn btn-outline-secondary btn-sm"> &nbsp&nbsp&nbsp Donate &nbsp&nbsp&nbsp</button>
            </div>
            <div class="d-flex justify-content-center ">
                <img src="{% static 'img/logo-with-text.png' %}" alt="logo">
            </div>
            <div class="d-flex justify-content-center mt-lg-4">  </div>
            <div class="d-flex justify-content-center">
                <h2 class="text-uppercase text-center" style="font-family: bell; font-weight: bolder;">come together <br> for an aware and united community </h2>
            </div>
            <p class="d-flex justify-content-center pt-4 font-weight-light"><small>Select your language to visit the website</small></p>
            <div class="d-flex justify-content-center">
                <a href="{% url 'coming_soon' %}" class="btn btn-outline-secondary btn-sm">&nbsp&nbsp&nbsp&nbsp<small>فارسی</small> &nbsp&nbsp&nbsp&nbsp</a>
                <a href="{% url 'coming_soon' %}" class="btn btn-outline-secondary btn-sm mx-3">&nbsp&nbsp&nbsp&nbsp<small>English</small>&nbsp&nbsp&nbsp&nbsp</a>
                <a href="{% url 'coming_soon' %}" class="btn btn-outline-secondary btn-sm">&nbsp&nbsp&nbsp&nbsp<small>پشتو</small>&nbsp&nbsp&nbsp&nbsp</a>
            </div>
            <p class="fixed-bottom mx-3 text-secondary" style="font-size: small;"><small>All rights reserved for Awareness Brokers Foundation | 2021 | Made by Zaman</small> </p>
        </div>
    </div>
</div>

{% endblock content %}